<div class="container-fluid py-5">

	<h1 data-aos="zoom-in">Должности</h1>

</div>

<div class="container-fluid">

	<div class="card card-body h-100 mb-4" data-aos="zoom-in">
		<form [formGroup]="positionFormGroup" (ngSubmit)="save()" class="row">
			<div class="col-12 col-lg my-1">
				<input type="text" formControlName="name" class="form-control" placeholder="Наименование">
			</div>
			<div class="col-12 col-lg my-1">
				<button type="submit" class="btn btn-primary w-100" [disabled]="positionFormGroup.invalid">
					Добавить
				</button>
			</div>
		</form>
	</div>

	<div class="row">

		@for (i of positions; track i.id) {
			<app-position-card [position]="i" class="mb-3"></app-position-card>
		}

	</div>

</div>
