<footer class="container-fluid">
	<div class="row">

		<div class="col-12 col-md-6 col-lg-8 mb-3" data-aos="zoom-in">
			<h3>WorkwearHub</h3>

			<p class="fs-5 m-0">
				Email: {{ 'info@workwear.com' }}
			</p>
			<p class="fs-5 m-0">
				Tel: +375 (29) 135-16-13
			</p>
			<p class="fs-6 m-0" align="justify">
				Все данные по сотрудникам и складу — в одной удобной
				онлайн-системе.
			</p>
		</div>

		<div class="col-12 col-md-6 col-lg-4 mb-3 d-flex justify-content-center" data-aos="zoom-in">
			<div>
				<h3>Ссылки</h3>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a class="nav-link p-0 text-body-secondary" appNavigate [navigateURL]="''"
						   role="button">Главная</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link p-0 text-body-secondary" appNavigate [navigateURL]="'workwears'"
						   role="button">Спец. одежда</a>
					</li>
					<li class="nav-item mb-2">
						<a class="nav-link p-0 text-body-secondary" appNavigate [navigateURL]="'inventories'"
						   role="button">Инвентарь</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</footer>
