<div class="card card-body h-100" data-aos="zoom-in">
	<form [formGroup]="categoryFormGroup" (ngSubmit)="update()" class="row">
		<div class="col-12 col-lg-6 my-1">
			<input type="text" formControlName="name" class="form-control" placeholder="Наименование">
		</div>
		<div class="col-12 col-lg my-1">
			<button type="submit" class="btn btn-success w-100" [disabled]="categoryFormGroup.invalid"
					style="background-color: #76bbc9; border: none; color: #fff; font-weight: 600;">
				Обновить
			</button>
		</div>
		<div class="col-12 col-lg my-1">
			<a (click)="delete()" class="btn btn-danger w-100"
			   style="background-color: #b02a37; border-color: #96232f;">Удалить</a>
		</div>
	</form>
</div>
