<div class="container-fluid py-5">

	<h1 data-aos="zoom-in" style="text-align: center; margin-bottom: 10px;">
		Цифровой учет спецодежды для вашего предприятия
	</h1>

	<h4 data-aos="zoom-in" style="text-align: center; color: #777;margin-bottom: 30px;">
		Контролируйте выдачу, списание и сроки носки спецодежды онлайн. Экономьте время и деньги.
	</h4>

	<img src="/img/main/hero.jpeg" alt="img" class="rounded shadow w-100 border" data-aos="zoom-in">

</div>

<div class="container-fluid py-5">

	<h2 data-aos="zoom-in" class="mb-4">Превратите учет спецодежды из головной боли в простой процесс</h2>

	<div class="row fs-4 text-center">
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100">
				<div style="height: 250px">
					<img src="/img/main/2/1.png" alt="img" class="h-100">
				</div>
				<p class="m-0" style="font-weight: bold;">
					Для руководителя
				</p>
				<p class="m-0">
					Контролируйте бюджет и избегайте штрафов от проверяющих органов.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100">
				<div style="height: 250px">
					<img src="/img/main/2/2.png" alt="img" class="h-100">
				</div>
				<p class="m-0" style="font-weight: bold;">
					Для кладовщика
				</p>
				<p class="m-0">
					Автоматизируйте выдачу. Все данные по сотрудникам и остаткам на складе — в один клик.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100">
				<div style="height: 250px; margin-bottom: 15px;">
					<img src="/img/main/2/3.png" alt="img" class="h-100" >
				</div>
				<p class="m-0" style="font-weight: bold;">
					Для бухгалтерии
				</p>
				<p class="m-0">
					Упростите списание и отчетность. Интеграция с 1С.
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-6 mb-4" data-aos="zoom-in">
			<div class="card card-body h-100">
				<div style="height: 250px; margin-bottom: 15px;">
					<img src="/img/main/2/4.png" alt="img" class="h-100">
				</div>
				<p class="m-0" style="font-weight: bold;">
					Для сотрудника
				</p>
				<p class="m-0">
					Следите за своими вещами и сроками следующей выдачи онлайн.
				</p>
			</div>
		</div>
	</div>


</div>

<div class="container-fluid py-5">

	<h2 data-aos="zoom-in" style="text-align: center; margin-bottom: 20px;">
		Мы находимся здесь
	</h2>

	<iframe
		src="https://www.google.com/maps?q=Минск,+ул.+Немига,+3&hl=ru&z=16&output=embed"
		allowfullscreen
		frameborder="0"
		loading="lazy"
		height="500"
		class="w-100 rounded shadow"
		data-aos="zoom-in">
	</iframe>

</div>
