<div class="container-fluid py-5">
	<h1 data-aos="zoom-in">Спецодежда</h1>
</div>

<div class="container-fluid">
	<div class="row fs-5">
		@for (i of orderingsSorted; track i.id) {
			<div class="col-12 mb-4" data-aos="zoom-in">
				<div class="card card-body position-relative" style="min-height: 280px;">
					<a appNavigate [navigateURL]="'workwear'" [queryParams]="{id:i.workwear.id}" role="button">
						<div class="d-flex flex-row align-items-start gap-4">
							<div class="flex-shrink-0" style="width: 280px;">
								<div class="ratio ratio-1x1 mb-2">
									<img [src]="i.workwear.img" alt="img" class="object-fit-cover rounded shadow w-100 h-100">
								</div>
								<p class="mb-1 text-center fw-semibold">{{ i.workwear.name }}</p>
							</div>
							<div class="flex-grow-1 position-relative pe-4">
								<p class="mb-1">{{ "Статус: " + i.statusName }}</p>
								<p class="mb-1">{{ "Срок службы: " + i.workwear.lifetime + " д." }}</p>
								<p *ngIf="i.dateApproved !== ''" class="mb-1">{{ "Дата выдачи: " + i.dateApproved }}</p>
								<p *ngIf="i.dateDecommission !== ''" class="mb-1">{{ "Дата списания: " + i.dateDecommission }}</p>
								<p *ngIf="role !== 'USER'" class="mb-1">{{ "Сотрудник: " + i.userFio }}</p>
								<p *ngIf="i.managerFio !== ''" class="mb-1">{{ "Выдал: " + i.managerFio }}</p>

								<button type="button"
										(click)="archive(i.id)"
										*ngIf="role === 'ADMIN' && (i.status === 'LOSS' || i.status === 'MARRIAGE' || i.status === 'WEAR_AND_TEAR')"
										class="btn btn-primary"
										style="margin-top: 20px; width: 120px;">
									Списать
								</button>
							</div>
						</div>
					</a>
				</div>
			</div>
		}
	</div>
</div>
