<div class="container-fluid py-5">

	<h1 data-aos="zoom-in">Профиль</h1>

</div>

<div class="container-fluid">

	<div class="row">
		<div class="col-12 col-lg-4 mb-4" data-aos="zoom-in">
			<input type="file" class="form-control mb-2" (change)="updateImg($event)">
			<div class="ratio ratio-1x1">
				<img [src]="profile.img" alt="img" class="object-fit-cover rounded border">
			</div>
		</div>
		<div class="col-12 col-lg mb-4" data-aos="zoom-in">
			<div class="card card-body h-100">
				<div class="row">
					<div class="col-12 col-lg-6 mb-2">
						<p class="fs-4 m-0">ФИО</p>
						<input type="text" [(ngModel)]="profile.fio" class="form-control" placeholder="ФИО">
					</div>
					<div class="col-12 col-lg-6 mb-2">
						<p class="fs-4 m-0">Размер обуви</p>
						<input type="number" [(ngModel)]="profile.shoe" class="form-control" required placeholder="Размер обуви" min="30" step="1" max="50">
					</div>
					<div class="col-12">
						<button type="button" class="btn btn-primary w-100" [disabled]="!profile.fio || !(profile.shoe >= 30 && profile.shoe <= 50)"
								(click)="updateFio()">Обновить
						</button>
					</div>
				</div>
				<div *ngIf="role === 'USER'" class="mt-2">
					<p class="fs-4 m-0">Размер одежды</p>
					<select class="form-select" (change)="updateWorkwearSize($event)">
						<option *ngFor="let i of workwearSizes | keyvalue" [value]="i.key" [label]="i.value"
								[selected]="profile.workwearSize === i.key"></option>
					</select>
				</div>
				<div *ngIf="role === 'USER'" class="mt-2">
					<p class="fs-4 m-0">Должность</p>
					<select class="form-select" (change)="updatePosition($event)">
						<option *ngIf="profile.positionId === 0" selected disabled>Выберите должность</option>
						@for (i of positions; track i.id) {
							<option [value]="i.id" [label]="i.name" [selected]="profile.positionId === i.id"></option>
						}
					</select>
				</div>
			</div>
		</div>
	</div>

</div>
