<div class="container-fluid py-5">
	<h1 data-aos="zoom-in">Спецодежда</h1>

	<div class="row mt-4 align-items-center" data-aos="zoom-in">
		<div class="col-12 col-lg-6 mb-2 mb-lg-0">
			<input
				type="text"
				class="form-control form-control-lg shadow-sm"
				placeholder="Поиск по названию спецодежды..."
				[(ngModel)]="searchTerm">
		</div>
		<div class="col-auto">
			<button class="btn btn-primary btn-lg" (click)="filterWorkwears()">
				Поиск
			</button>
		</div>
	</div>


	<div *ngIf="role === 'MANAGER'" class="row mt-4" data-aos="zoom-in">
		<div class="col-auto">
			<a appNavigate [navigateURL]="'workwear_add'" class="btn btn-primary fs-5">
				<span class="bi-plus"></span> Добавить
			</a>
		</div>
	</div>
</div>

<!-- Список -->
<div class="container-fluid mt-4">
	<div class="row fs-4">
		@for (i of workwearsSorted; track i.id) {
			<div class="col-12 col-lg-6 col-xl-4 mb-4" data-aos="zoom-in">
				<a appNavigate [navigateURL]="'workwear'" [queryParams]="{id:i.id}" role="button">
					<div class="card card-body h-100">
						<div class="ratio ratio-1x1 mb-2">
							<img [src]="i.img" alt="img" class="object-fit-cover rounded shadow">
						</div>
						<p class="mb-2 text-center fw-bold">{{ i.name }}</p>
						<p class="mb-1">{{ "Размер: " + i.sizeName }}</p>
						<p class="mb-1">{{ "Доступное количество: " + i.quantity }}</p>
						<p class="mb-1">{{ "Категория: " + i.categoryName }}</p>
					</div>
				</a>
			</div>
		}
	</div>

	<div *ngIf="workwearsSorted.length === 0" class="text-center text-muted mt-5 fs-5">
		Ничего не найдено
	</div>
</div>
