<div class="container-fluid py-5">
	<h1 data-aos="zoom-in">Инвентарь</h1>
</div>

<div class="container-fluid">
	<div class="row fs-5">
		@for (i of orderingsSorted; track i.id) {
			<div class="col-12 mb-4" data-aos="zoom-in">
				<div class="card card-body h-auto">
					<a appNavigate [navigateURL]="'inventory'" [queryParams]="{id:i.id}" role="button">
						<div class="d-flex flex-row align-items-start gap-4">
							<!-- Фото и название -->
							<div class="flex-shrink-0" style="width: 280px;">
								<div class="ratio ratio-1x1 mb-2">
									<img [src]="i.inventory.img" alt="img" class="object-fit-cover rounded shadow w-100 h-100">
								</div>
								<p class="mb-1 text-center fw-semibold">{{ i.inventory.name }}</p>
							</div>

							<!-- Информация и кнопки -->
							<div class="flex-grow-1 position-relative pe-4">
								<p class="mb-1">{{ "Статус: " + i.statusName }}</p>
								<p class="mb-1">{{ "Срок службы: " + i.inventory.lifetime + " д." }}</p>
								<p class="mb-1">{{ "Дата выдачи: " + i.dateApproved }}</p>
								<p *ngIf="i.managerFio !== ''" class="mb-1">{{ "Выдал: " + i.managerFio }}</p>
								<p *ngIf="i.worn" class="mb-1 text-warning">Под списание</p>

								<div class="d-flex flex-wrap mt-3">
									<button type="button"
											(click)="loss(i.id)"
											class="btn btn-primary me-3 mb-2"
											style="width: 180px;">
										Заявка на потерю
									</button>

									<button type="button"
											(click)="marriage(i.id)"
											class="btn btn-primary me-3 mb-2"
											style="width: 180px;">
										Заявка на брак
									</button>

									<button *ngIf="i.worn"
											type="button"
											(click)="wearAndTire(i.id)"
											class="btn btn-primary mb-2"
											style="width: 180px;">
										Заявка на износ
									</button>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		}
	</div>
</div>
